body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


/*Top container */

.top-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 10px 160px;
    justify-content: center;

  
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 25px;
}

ul {
    list-style-type: none; 
    text-decoration: none; 
    padding: 0; 
    margin: 0; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.banner {
    display: flex;
    padding: 100px 0px;
    gap: 50px;
    justify-content: space-between;
}


h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: column; 
}

button {
    background-color: #3882f6;
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
    border-color: white;
}
.banner-text {
    width: 500px;;
}

.banner-image {
    width: 600px;
    height: 250px;
    border: 2px solid ;
    flex-wrap: wrap;
}



/* Information Container */

.information-container {
    display: flex;
    padding: 80px 260px;
    flex-direction: column;
}

.information-header {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.info {
    max-width: 200px;
}

.text {
    align-items: center;
    text-align: center;
}




/* Quote Container */

.quote-container{
    display: flex;
    background-color: #e5e7eb;
    padding: 100px 160px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


.author {
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: bold;
    font-style: normal;
}
















